.main_section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    border: none;
    -ms-interpolation-mode: bicubic;
}

.container_section {
    padding: 30px;
    border-radius: 25px;
}

.form_section {
    background-color: #bdbdbd40;
    border-radius: 10px;

    .login_form {
        padding: 30px;
    }
    
    .login_form form .header_form h1{
        font-size: 3em;
        color: #4A4DF3;
        font-weight: 500;
    }

    .login_form form .header_form p {
        font-size: 1.1em;
        color: rgba(0, 0, 0, 0.774);
        font-weight: 500;    
    }
    
    .login_form form .inputs_section{
        margin-top: 20px;

        button.sign_in {
            width: 100%;
            padding: 15px 10px;
            margin-top: 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 1.1em;
            color: #fff;
            font-weight: 500;
            background-color: #4A4DF3;
            cursor: pointer;
        }

        button.sign_in:hover {
            outline: 1px solid white;
        }

        button.google_sign_in {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 15px 10px;
            margin-top: 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            font-size: 1.1em;
            color: black;
            font-weight: 500;
            background-color: white;
            cursor: pointer;

            img {
                width: 20px;
                height: auto;
                margin-right: 8px;
            }
        }

        button.google_sign_in:hover {
            outline: 1px solid black;
        }

        .links {
            margin-top: 10px;                 
            color: #4A4DF3;            
        }

    }

    .login_form form .inputs_section .input_box{
        margin-bottom: 20px;

        label {            
            margin-bottom: 5px 3px;
        }

        input {
            width: 100%;
            padding: 15px 10px;
            border-radius: 5px;
            border: 1px solid #4A4DF3;
            outline: none;
            font-size: 1.1em;
            color: rgba(0, 0, 0, 0.774);
            font-weight: 500;            
        }
    }    
}

@media only screen and (max-width: 1200px) {
    .form_section { 

        .login_form form .header_form h1
        {
            font-size: 2.5em;
        }

        .login_form form .header_form p {
            font-size: 0.9em;
        }
        
        .login_form {
            padding: 20px;
        }
    }
    
    .image_section {
        display: none;
    }
    .form_section {
        width: 100%;
    }
}
